@font-face {
    font-family: "Bradley Hand ITC";
    src: url('Bradley Hand ITC.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bradley Hand ITC TT Italic";
    src: url('Bradley Hand ITC TT Italic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NewFontXingshu";
    src: url('XingShiXinYingBiXingShuJianTi-1.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NewFontXingshu_2";
    src: url('No.130-ShangShouZhuiGuangShouXieTi-2.ttf');
    font-weight: normal;
    font-style: normal;
}